.card-layout {
  display: grid;
  grid-template-columns: auto 15%;
  .votes-container {
    display: flex;
    flex-direction: column;
    * {
      margin: 0 auto;
    }
    mat-icon {
      cursor: pointer;
    }
  }
  h2 {
    text-align: left;
  }
}

mat-card {
  margin: 1rem;
}
