<mat-card>
  <div class="card-layout">
    <div class="quote-and-character">
      <h2>{{ quote.quote }}</h2>
      <p>
        <strong>{{ quote.character }}</strong> - {{ quote.episode }}
      </p>
    </div>
    <div class="votes-container">
      <mat-icon svgIcon="arrow-up" (click)="upvote()"></mat-icon>
      <div>{{ quote.votes }}</div>
      <mat-icon svgIcon="arrow-down" (click)="downvote()"></mat-icon>
    </div>
  </div>
</mat-card>
