<div id="space">
  <div class="stars">
    <mat-toolbar>
      <span>Angular Dynamic</span>
      <mat-form-field>
        <mat-label>Episode...</mat-label>
        <mat-select [(value)]="selectedEpisode" (valueChange)="filterQuotes()">
          <mat-option
            *ngFor="let episode of episodeSelections"
            [value]="episode"
          >
            {{ episode }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
    <h1>Vote on Quotes, You Will</h1>
    <div class="card-container">
      <div class="scrollbox">
        <ng-template ngFor let-quote [ngForOf]="filteredQuotes">
          <app-quote-card [quote]="quote"></app-quote-card>
        </ng-template>
      </div>
      <div class="fade-in"></div>
      <div class="fade-out"></div>
    </div>
  </div>
</div>
