mat-toolbar {
  justify-content: space-between;
  height: auto;
  mat-form-field {
    padding-top: 1rem;
    width: 21rem;
  }
}
h1 {
  margin: auto;
  color: white;
  padding: 3rem 0;
  text-align: center;
}
p {
  color: white;
}

.twinkling {
  text-align: center;
}

.card-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 35rem;
  margin: auto;
  text-align: left;
  .scrollbox {
    height: 100%;
    overflow: scroll;
  }
}

.fade-out {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 7rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.fade-in {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 1rem;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.mat-spinner {
  margin: auto;
}

// STARS:

#space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}

.stars {
  background-image: radial-gradient(
      2px 2px at 20px 30px,
      #eee,
      rgba(0, 0, 0, 0)
    ),
    radial-gradient(2px 2px at 40px 70px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 130px 80px, #fff, rgba(0, 0, 0, 0)),
    radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
}
